body{
    font-family: 'Merriweather', serif;
    font-family: 'Yeseva One', cursive;
    margin: 0;
    padding: 0;
}
section{
    padding: 20px 100px 20px 100px;
}
.first-sec{
    display: flex;
    padding-top: 50px;
}
.firstname{
    border-left: 3px solid tomato;
    padding-left: 15px;
}
.name-color{
    color: orange;
    margin-top: -20px;
}
.firstname h1{
    font-size: 50px;
    font-family: 'yeseva One';
}
#explore-button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding:10px 25px 10px 25px ;
    border-radius: 5px;
}
.first-sec p{
    font-weight: 400;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 50px;
}
.first-sec img{
    width: 80%;
}
.fsts-div{
    width: 50%;
}
.fsts-div img{
    max-width: 100%;
    padding-left: 50px;
}

.secound-h1{
    color: navy;
    text-align: center;
    font-size: 40px;
}

}
.secound-sec{
    display: flex;
}
.year{
    color: orange;
}
.secound-sec{
    display: flex;
    margin: 0px;
}
.secound-sec img{
    width: 50%;
}

.third-collumn{
    width: 33%;
}
.firstd{
    background-color: #EDF5F9;
    margin: 0px 2% 0px 2%;
    padding: 20px;
    border-radius: 10px;
}
.secundd{
    background-color: #FFF0EE;
    margin: 0px 2% 0px 2%;
    padding: 20px;
    border-radius: 10px;
}
.thirdd{
    background-color: #FFF4D6;
    margin: 0px 2% 0px 2%;
    padding: 20px;
    border-radius: 10px;
}
.third-collumn p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.third-section{
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 50px;

}
.third-sec{
    width: 40%;
}
.third-sec img{
    width: 80%;
}
.third-secs{
    width: 60%;
}
.third-secs h1{
    font-size: 40px;
}
.third-secs p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 20px;
}
.documention-button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding:10px 25px 10px 25px ;
    border-radius: 5px;
}
.fourth-section{
    display: flex;
}
.fourth-secs{
    width: 70%;
}
.fourth-secs h1{
    font-size: 40px;
}
.fourth-secs p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 20px;
}
.fourth-image{
    width: 30%;
}
.fourth-image img{
    width: 100%;
}
.fifth-section{
    display: flex;
}
.fifthdiv h1{
    font-size: 40px;
}
.corona{
    color: orange;
}
.fifth-section{
    display: flex;
}
.fifth-div{
    width: 50%;
}
.fifth-div img{
    width: 60%;
    margin-left: 30%;
}
.fifth-div p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 20px;
}
.App-Fetures{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding:10px 25px 10px 25px ;
    border-radius: 5px;
}
.fifthdiv{
    padding-top: 10%;
}
.build{
    font-size: 45px;
    text-align: center;
}
#application-color{
    color: orange;
}
footer{
    display: flex;
    background-color: black;
}
}
}
..ftr-fist p{
    color: white;
    background-color: white;
}
.ftr-fist img{
    width: 150px;
}
.ftr-fist h5{
    color: white;
}
footer{
    padding: 0px 100px 0px 100px;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: whites;
    margin-top: -1px;
}
.ftr-fist a{
    text-decoration: none;
    color: white;
    padding:5px;
}
.footes{
    width: 33%;
}
.ftr-secound ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    width: 100;
    padding: 0px;
    margin: 0px;
}
h4{
    color: white;
}
.footes ul li {
    color: white;
}
.footer-nav{
    background-color: black;
    border-top:1px solid white ;
}
.footer-nav p{
    font-size: 14px;
    color: white;
    text-align: center;
}
.review{
    padding-top: 50px;
    padding-bottom: 50px;
}
.testimonial-sec{
    display: flex;

}
.testimonial-sec img{
    width: 20%;
}
.testimonial{
    width: 33%;
    
}
.testimonial p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300px;
    padding-right: 20px;
}
.test-name{
    font-size: 20px;
    margin-bottom: -5px;
}
small{
    color: orangered;
    
}